<template>
  <div class="justify-center content-center">
    <h1 class="text-5xl leading-relaxed">{{ quote?.text }}</h1>
    <h2 class="text-3xl leading-relaxed">{{ quote?.person }}</h2>
  </div>
  <div class="pt-5">
    <button class="px-6 py-2 bg-blue-500 font-medium text-sm hover:bg-gray-500 text-white rounded" @click="store.fetchQuote()">
    Get Quote
</button>
  </div>

  <p class="bg-red-500 text-black rounded-3xl" v-if="loading">
    Loading quote..
  </p>
  <p class="bg-red-500 text-white rounded-3xl" v-if="error">
    {{ error.message }}
  </p>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useQuoteStore } from "@/stores/quoteStore";

const { quote, loading, error } = storeToRefs(useQuoteStore());

const store = useQuoteStore();
store.fetchQuote();
</script>
