<script setup lang="ts">
import Quote from "./components/quote.vue";

</script>

<template>
  <div class="container mx-auto">
  <header>
    <h1 class="header">Quote App</h1>
  
  </header>

  <main >
  <Quote/>
  </main>
</div>
</template>

<style scoped>
header {
  line-height: 1.5;
}

</style>
